$wdRed: #ab0000;
$dark-blue: #0f2231;
$outline: #1a3041;
$highlight: #90b4be;
$item-bg: #18272e;

$theme-colors: (
  "primary": $wdRed,
);

@import "~bootstrap/scss/bootstrap";

body {
  color: #fff;
  font-family: "Baloo Tammudu 2", cursive;
  background: #0f2231 url("../../assets/bgpattern.jpg") 0 0 repeat;
}
.col,
.row {
  margin: 0;
}
.App {
  padding-bottom: 220px;
}
.wdBorderBox {
  border: 2px solid $outline;
  box-shadow: 0 0 5px $highlight;
  padding: 5px;
  margin: 10px 0;
  .col,
  .row {
    padding: 3px;
  }
}
.yourRentals {
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 5px $highlight;
  padding: 10px 5px;
  .row,
  .col {
    padding: 0px;
    margin: 0px;
  }
}
