$dark-blue: #0f2231;
$outline: #1a3041;
$highlight: #90b4be;
$item-bg: #18272e;
body {
  color: #fff;
  font-family: "Baloo Tammudu 2", cursive;
  background: #0f2231 url("../../assets/bgpattern.jpg");
}
.App {
}
